.section-gap--gray {
  background-color: var(--bg-color-section);
}

.team__list {
  display: flex;
}

.team__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__pic {
  display: block;
  max-width: 100%;
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;

  align-items: flex-end;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__item + .team-social__item {
  margin-left: 10px;
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--focus-color);
    fill: var(--bg-color-main);
  }
}
