.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay__title {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 24px;

  align-items: center;

  transform: translateY(100%);

  font-size: 16px;
  line-height: 1.4;

  letter-spacing: 0.03em;


  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 360px) {
    font-size: 18px;
    line-height: 1.55;
  }

  .portfolio__card:hover &,
  .portfolio__card:focus & {
    pointer-events: all;
    transform: translateY(0);
    background-color: rgba(33, 150, 243, 0.9);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;

    margin-top: calc(-1 * var(--portfolio-gap));
    margin-left: calc(-1 * var(--portfolio-gap));
  }

  @include desktop {
    margin-top: calc(-1 * var(--portfolio-gap));
    margin-left: calc(-1 * var(--portfolio-gap));
  }
}

.portfolio__item {
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    flex-basis: calc(100% / 2 - var(--portfolio-gap));

    margin-top: var(--portfolio-gap);
    margin-left: var(--portfolio-gap);
  }

  @include desktop {
    flex-basis: calc(100% / 3 - var(--portfolio-gap));

    margin-top: var(--portfolio-gap);
    margin-left: var(--portfolio-gap);
  }
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  height: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__pic {
  display: block;
  max-width: 100%;
}