.connect {
  margin-left: 70px;
}
.connect__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.connect__list {
  display: flex;
}

.connect__item + .connect__item {
  margin-left: 20px;
}

.connect__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--focus-color);
  }
}
