.logo {
  display: block;
  margin-right: 93px;
  padding: 16px 0;

  @include tablet {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  font-family: $font-logo;
  // @include font(700, 26px, 1.19);
  @include font(700, 24px, 1.16);
  letter-spacing: 0.03em;


  color: #000000;

  &--blue {
    color: var(--focus-color);
  }

  &--white {
    color: var(--bg-color-main);
    padding-top: 0;
    padding-bottom: 20px;
    margin-right: 0;
  }
}