// team section
.nav-font-style {
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}
//--------------------------------
.clients__title,
.team__title,
.work__title {
  @include font(null, 28px, 1.18);
  text-align: center;
  color: var(--headlines-color);

  // @include font(null, 36px, 1.17);
}

.specifics {
  @include font(700, 14px, 1.14);
  @extend %section-headlines;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @include tablet {
    text-align: start;
  }
}

.features__text {
  @include font(400, 14px, 1.71);
  letter-spacing: 0.03em;

  color: #757575;
}
//------Team section
.team__name {
  @include font(500, 16px, 1.19);
  @extend %section-headlines;
  text-align: center;

  margin-bottom: 10px;
}

.team__spec {
  @include font(null, 16px, 1.18);
  text-align: center;

  margin-bottom: 16px;
}
//--------Portfolio
.portfolio__desc {
  @include font(null, 16px, 1.88);

  color: var(--second-text-color);
}

// ---------MODAL------
.callback-modal__license-text {
  font-size: 12px;
  line-height: 1.7;

  letter-spacing: 0.03em;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
