:root {
  --headlines-color: #212121;
  --second-text-color: #757575;
  --bg-color-section: #f5f4fa;
  --bg-color-main: #ffffff;
  --bg-color-second: #e5e5e5;
  --focus-color: #2196f3;
  --footer-hero-color: #2f303a;

  --main-gap: 94px;
  --portfolio-gap: 30px;
}

$font-primary: Roboto, sans-serif;
$font-logo: Raleway, sans-serif;
