span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
